{% if message is empty %}
    <!-- Page Content -->
    <div class="container">
    <div class="row">
    <div class="container-fluid customRow">
    </div>
    <!--</div>-->
    <div class="col-lg-12">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <h2  class="reviewHeadingLink"><a href="">Videos</a></h2>
                <div class="col-lg-12 dropdownMenuContainer">
                    <div class="dropdown">
                        <button  class="buttonDropdownMenuContainer btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort Videos By
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/videos/">Newest First</a></li>
                            <li><a href="/videos/asc/">Oldest First</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="customHR">
            </div>
        </div>
        {% for video in videos %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12 videosList">
                        <div class="col-lg-3">
                            <a  href="/video/{{video['video_id']}}/"><img class="img img-responsive" height="97" src="{{video['images'][3]}}" alt="">
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <h4  class="reviewHeadingLink"><a href="/video/{{video['video_id']}}/">{{video['name']}}</a></h4>
                            <i class="glyphicon glyphicon-calendar"></i><span class="gamesDate">{{ video['publish_date']|date("m/d/Y")}}</span>
                            <span>&nbsp;</span>
                            <i class="glyphicon glyphicon-eye-open"></i><span class="gamesDate">{{ video['video_type']}}</span>
                            <p class="videosDescription">{{video['deck']}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="col-lg-3 platforms">
        <h2>Popular Platforms</h2>
        <ul>
            {% for platform in popular_platforms %}
                <li>
                    <a href="/platform/{{ platform['platform_id'] }}/{{ platform['name'] }}/" title="{{ platform['name'] }}">
                        <img src="{{ platform['image_tiny_url'] }}">{{ platform['name'] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-9 pagination">
            {% if previous > 0 %}
                <a href="/videos/asc/{{ previous }}">
                    <button class="btn btn-medium btn-primary pull-left">Previous</button>
                </a>
            {% endif %}
            {% if next > 0 %}
                <a href="/videos/asc/{{ next }}">
                    <button class="btn btn-medium btn-primary pull-right">Next</button>
                </a>
            {% endif %}
        </div>
    </div>

    {% if next is empty  %}

        </div>
        <div class="col-lg-12">
            <div class="col-lg-9">
                <div class="row">
                </div>
            </div>
        </div>
        </div>
        </div>
        <!-- /.container -->
    {% endif %}
{% elseif message is not empty %}
    <h4 align="center">{{ message }}</h4>
{% endif %}